<div class="row">
  <div class="col-sm-12">
    <div class="page-title">
      <h1>Dashboard
        <small></small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i></a></li>
        <li class="active">Dashboard</li>
      </ol>
    </div>
  </div>
</div><!-- end .page title-->
<div class="row">
  <h1>Welcome to your dashboard!</h1>
</div><!--end .row-->
<div class="row">
  <h3>This space can contain tables, graphs, forms, charts, remote content, or anything else your heart desires.</h3>
</div>
<div class="row">
  <small><%= current_user.admin? ? 'Your account has administrator privileges.' : 'Your account does not currently have administrator privileges.' %></small>
</div><!--end .row-->
