<!-- Dependencies already included in head: font-awesome, bootstrap, jquery, jquery ui -->
<div class="error-box">
    <h1>404</h1>
  <h4>You may have taken a wrong turn.</h4>
  <p>The page you are looking for could not be found. That's all we know.</p>
  <a href="<%= url_for(root_url) %>">Go back</a>
</div>
