<!-- Dependencies already included in head: font-awesome, bootstrap, jquery, jquery ui -->
<div class="error-box">
  <h1>422</h1>
  <h4>Unprocessable entity.</h4>
  <p>The input you submitted was not valid. Please double-check and try again.</p>
  <a href="<%= url_for(root_url) %>">Go back</a>
</div>
