/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
*= require jquery-tablesorter/theme.bootstrap
 */
// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
@import "jquery-ui";
@import "jquery-tablesorter/theme.bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "select2";
@import "select2-bootstrap";
@import "animate.min";
.flash {
  display: none;
}
div#actions {
  display: flex;
}
div#actions * {
  margin-left: 3px;
}
.cancel {
  border: 1px solid;
}
thead {
  cursor: context-menu;
}
.alert-text {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}
