/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 */
// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
@import "jquery-ui";
@import "jquery-tablesorter/theme.bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "select2";
@import "select2-bootstrap";
@import "animate.min";

// These are the button groups for navigation above and below tables
div.navButtons {
  display: flex;
}
div.navButtons * {
  margin: 3px;
}

// Rules for the filter text box to the right of the navigation buttons and its container(s)
div.filterBox {
  display: flex;
  float: right;
}

.filter-table .quick { margin-left: 0.5em; font-size: 0.8em; text-decoration: none; }
.filter-table .quick:hover { text-decoration: underline; }
td.alt { background-color: #ffc; background-color: rgba(255, 255, 0, 0.2); }

.cancel {
  border: 1px solid;
}
thead {
  cursor: context-menu;
}
.flash {
  display: none;
}
.alert-text {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}
.flash-padding {
  padding: 5px;
}
