// Place all the styles related to the Offers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.offers {
	margin: {
		top: 20px;
		bottom: 40px;
	}
	
	.offer_field {
		width: 213px;
		float: left;
	}
	
	.offer_action {
		width: 200px;
		float: left;
	}
	
	table {
			
		td {
			width: 230px;
		}
		
		td.index {
			width: 30px;
		}
			
	} // end table
		
} // end offers class

.outlet_info {

	.outlet_field {
		margin: 10px 0px;
		
		&:first-child {
			font: {
				weight: bold;
				size: 3em;
			}
		}
			
	}
		
}

.hours_div {
	float: left;
		
	.table {
		border: 1px solid;
		border-collapse: collapse;
		
		th, td {
			border: 3px solid;
			border-collapse: collapse;
			width: 90px;
			text-align: center;
		}
		
		td {
			padding: 0px;
		}
		
		th {
			padding: 2px;
		}
			
	}
		
}

.details_div {
	width: 365px;
	float: right;
	
	.rate{
		table {
			width: 365px;
			
			th {
				border-bottom: 1px solid;
				font-weight: bold;
			}
			
			th:first-child {
				text-align: left;
			}
			
			td {
				text-align: center;  
				&:first-child {
						text-align: left;
				}
			}
				
		} //end table
		
		div {
			margin: 20px 0px;
			a:first-child {
				margin-right: 40px;
			}
		}
		
		input {
			width: 90px;
		}
			
	} //end class rate
	
	input[type="submit"] {
		margin-top: 20px;
		background:url('submit.png');
		width: 134px;
		height: 53px;
	}
		
} //end class details_div

.rate_info {
	width: 365px;
	float: right;
}

.clicked_cell {
	background-color: green;
}
