.day {
    border: 1px solid;
    width: 100%;
    margin: 3px;
}

.cell {
    margin: 3px;
    border: 1px solid;
}

.gridContainer * {
    text-align: center;
    cursor: crosshair;
}

.clicked {
}

.dayLabel {
    font-weight: bold;
}

.gridContainer *::-moz-selection {
    background-color: Transparent;
    color: white;
    opacity: 1;
}

.gridContainer *::selection {
    background-color: Transparent;
    color: white;
    opacity: 1;
}

.offer_note {
    width: 100%;
}

.offerInput {
    width: 75%;
    text-align: right;
}

/* all the rows in the worksheet grid */
.dayPartRow {

}

/* worksheet grid rows and cells */
.morning {
    background-color: rgba(255, 0, 0, 0.5019607843137255);
}

.daytime {
    background-color: rgba(82, 255, 0, 0.5019607843137255)
}

.eveningNews {
    background-color: rgba(0, 245, 255, 0.5019607843137255)
}

.localPrimeTime {
    background-color: rgba(255, 0, 235, 0.4745098039215686)
}

.nationalPrimeTime {
    background-color: rgba(255, 253, 0, 0.5372549019607843)
}

.lateNews {
    background-color: rgba(255, 123, 0, 0.5019607843137255)
}

.lateNight {
    background-color: rgba(0, 255, 166, 0.5019607843137255);
}

.overnights {
    background-color: rgba(166, 69, 26, 0.4745098039215686);
}