.day {
    border: 1px solid;
    width: 100%;
    margin: 3px;
}

.cell {
    margin: 3px;
    border: 1px solid;
}

.gridContainer * {
    text-align: center;
    cursor: crosshair;
}

.clicked {
}

.dayLabel {
    font-weight: bold;
}

.gridContainer *::-moz-selection {
    background-color: Transparent;
    color: white;
    opacity: 1;
}

.gridContainer *::selection {
    background-color: Transparent;
    color: white;
    opacity: 1;
}

.offer_note {
    width: 100%;
}

/* all the rows in the worksheet grid */
.dayPartRow {

}

/* worksheet grid rows and cells */
.morning {
    background-color: lightcyan;
}

.daytime {
    background-color: lightblue;
}

.eveningNews {
    background-color: lightgreen;
}

.localPrimeTime {
    background-color: palegoldenrod;
}

.nationalPrimeTime {
    background-color: thistle;
}

.lateNews {
    background-color: pink;
}

.lateNight {
    background-color: darkseagreen;
}

.overnights {
    background-color: gainsboro;
}