<div class='sub_channel_field'>
	First name<br/>
	<%= text_field :sub_channel, :first_name %><br/>
	Last name<br/>
	<%= text_field_tag :sub_channel, :last_name %><br/>
	Subscriber<br/>
	<%= text_field_tag :sub_channel, :subs %>
</div>

