 <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-main" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div id="navbar-main" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="index.html">Dashboard</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Plugins <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#"><i class="fa fa-line-chart"></i> Graphs</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="flot_charts.html">Flot charts</a></li>
                                        <li><a href="morris_js.html">Morris.js</a></li>
                                        <li><a href="chart_js.html">Chart.js</a></li>
                                        <li><a href="chartist.html">Chartist</a></li>
                                        <li><a href="chart_sparkline.html">Sparkline</a></li>
                                    </ul>
                                </li>
                                <li><a href="calendar.html"><i class="fa fa-calendar"></i> Calendar</a></li>
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#"><i class="fa fa-table"></i> Tables</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="table_basic.html">Static Tables</a></li>
                                        <li><a href="table_data_tables.html">Data Tables</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#"><i class="fa fa-map-marker"></i> Maps</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="google_maps.html">Google maps</a></li>
                                        <li><a href="vector_maps.html">Vector Maps</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pages <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#"><i class="fa fa-shopping-cart"></i> E-commerce</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="orders.html">orders</a></li>
                                        <li><a href="order-view.html">order View</a></li>
                                        <li><a href="products.html">Products</a></li>

                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#"><i class="fa fa-envelope"></i> Mail box</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="mailbox.html">Inbox</a></li>
                                        <li><a href="mail_detail.html">Email view</a></li>
                                        <li><a href="mail_compose.html">Compose email</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#"><i class="fa fa-folder"></i> Other Pages</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="lockscreen.html">Lockscreen</a></li>
                                        <li><a href="login.html">Login</a></li>
                                        <li><a href="register.html">Register</a></li>
                                        <li><a href="404.html">404 Page</a></li>
                                        <li><a href="empty_page.html">Empty page</a></li>
                                        <li><a href="gallery.html">gallery</a></li>
                                        <li><a href="price_tables.html">Price tables</a></li>
                                        <li><a href="page_contact.html">Contact Page</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#"><i class="fa fa-users"></i> users</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="user_profile.html">profile</a></li>
                                        <li><a href="user_list.html">User list</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Form Elements <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="form_basic.html">Basic form</a></li>
                                <li><a href="form_advanced.html">Advanced form</a></li>
                                <li><a href="form_wizard.html">Wizard form</a></li>
                                <li><a href="form_file_upload.html">File upload</a></li>
                                <li><a href="form_text_editor.html">Text editor</a></li>
                                <li><a href="form_inline_edit.html">Inline edit</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Ui components <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="typography.html">Typography</a></li>
                                <li><a href="icons.html">Icons</a></li>
                                <li><a href="buttons.html">Buttons</a></li>
                                <li><a href="video.html">Video</a></li>
                                <li><a href="tabs_panels.html">Panels</a></li>
                                <li><a href="tabs.html">Tabs</a></li>
                                <li><a href="alert_notifications.html">Alert & notifications</a></li>
                                <li>
                                    <a href="grid_options.html">Grid Options</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Blog <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="blog_list.html">Blog list</a></li>
                                <li><a href="blog_post.html">Blog post</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">

                        <li>
                            <form class="mainnav-form" role="search">
                                <input type="text" class="form-control input-md" placeholder="Search">
                                <button class="btn btn-sm mainnav-form-btn" type="button"><i class="fa fa-search"></i></button>
                            </form>
                        </li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div><!--/.container-fluid -->
        </nav>

